/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background: linear-gradient(135deg, #f7ecc7, #c8e8fa, #ffffff);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  background-attachment: fixed;
  height: 100vh;
  min-height: 100vh;
}

:root {
  font-family: system-ui, Pretendard, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(135deg, #f7ecc7, #c8e8fa, #ffffff);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  background-attachment: fixed;
  display: block !important;
  flex-direction: unset !important;
  align-items: unset !important;
} */

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  background: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
